@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.menu-featured {
    width: 100%;
}
.featured-menu-container {
    width: 100%;
    min-height: 80vh;
    box-sizing: border-box;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efc3a4cf;
}
.featured-menu-container .featured-menu-title {
    width: 90%;
    text-align: center;
}
.featured-menu-container .featured-menu-title h4 {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: calc(1rem + 2vw);
}

.featured-menu-content {
    width: 85%;
    min-height: 10vh;
    padding: 60px 0;
}
.featured-menu-content .grid-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.featured-menu-content .menu-content-section {
    display: flex;
    justify-content: space-between;
    gap: 3px;
    width: 82%;
    padding: 20px 6px 20px 60px;
    border: 1px solid #232121;
    position: relative;
}
.featured-menu-content .menu-content-section .menu-icon {
    width: 85px;
    height: 85px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateX(-50%) translateY(-50%);
}
.featured-menu-content .menu-content-section .menu-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.featured-menu-content .menu-content-section .menu-content {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 20px;
}
.menu-content p:first-child {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: calc(1rem + 0.2vw);
}
.menu-content p:last-child {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: calc(1rem + 0.2vw);
}
.featured-menu-content .menu-content-section .menu-price {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #232121;
}
.menu-price p {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: calc(1rem + 0.2vw);
    color: #c7843f;
}

@media (width <= 1024px) {
    .menu-content p:first-child {
        font-size: calc(1.1rem);
    }
}
@media (width <= 991px) {
    .featured-menu-content .grid-wrapper {
        width: 100%;
    }
    .featured-menu-content .menu-content-section {
       width: 76%;
       align-items: center;
    }
    .featured-menu-content .menu-content-section {
        padding: 20px 6px 20px 50px  ;
    }
}
@media (width <= 426px) {
    .featured-menu-content .menu-content-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 0;
        padding-top: 60px;
        width: 98%;
        min-height: 10vh;
    }
    .featured-menu-content .grid-wrapper{
        gap: 60px;
    }
    .featured-menu-content .menu-content-section .menu-icon {
        top: 0%;
        left: 50%;
    }
    .featured-menu-content .menu-content-section .menu-content {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .featured-menu-content .menu-content-section .menu-price {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #232121;
        border-left: none;
        height: 50px;
    }
    .menu-price p {
        text-align: center;
    }
}
