@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
    font-size: 16px;
}
.testimonial_container {
    width: 100%;
    height: 84vh;
    background: url('../../assets/footer_background1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}
.testimonial_header{
    text-align: center;
}
.testimonial_header p{
    color: #C7A17A;
    font-family: "Poppins", serif;
    font-size: calc(1rem + .8vw);
    font-weight: 400;
}
.testimonial_header h4{
    font-family: "Poppins", serif;
    font-size: calc(1rem + 1.8vw);
    font-weight: 500;

}
.testimonialSwiper.swiper {
    width: 90%;
    height: 58vh;
}

.swiper .swiper-slide {

    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}
.testimonialslide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
.testimonialslide .testimonialslide_content{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.testimonialslide .testimonialslide_content p:nth-child(1){
    font-style: italic;
    font-weight: 300;
    font-family: "Poppins", serif;
    font-size: calc(1.4rem + .2vw);
}
.testimonialslide .testimonialslide_content h3{
    font-family: "Poppins", serif;
    font-size: calc(1rem + 1.1vw);
    font-weight: 600;
}
.testimonialslide .testimonialsilde_img{
    width: 10%;
    display: flex;
    justify-content: center;
}

.testimonialslide .testimonialsilde_img img{
    width: 100px;
    height: 100px ;
    border-radius: 50%;

}
.testimonialSwiper .swiper-button-prev,
.testimonialSwiper .swiper-button-next {
    background-color: #fff;
    color: #060606;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}
.testimonialSwiper .swiper-button-prev {
    transform: translateX(-73px);
}
.testimonialSwiper .swiper-button-next {
    transform: translateX(73px);
}
.testimonialSwiper .swiper-button-prev:hover,
.testimonialSwiper .swiper-button-next:hover {
    background-color: #e7b360;
    color: #fff;
}
.testimonialSwiper:hover .swiper-button-prev,
.testimonialSwiper:hover .swiper-button-next {
    transform: translateX(0);
    opacity: 1;
}
.testimonialSwiper .swiper-button-prev:after, .swiper-button-next:after{
  font-size: calc(1rem);
}
@media (width <= 610px){
    .testimonialSwiper.swiper {
        height: 73vh;
    }

}

@media (width <= 426px){
    .testimonialslide .testimonialslide_content{
        width: 100%;
        gap: 10px;
    }
    .testimonialslide .testimonialslide_content p:nth-child(1){
        font-size: calc(1.2rem);

    }
    .testimonialslide .testimonialslide_content h3{
        font-size: calc(1rem + 1.9vw);

    }
}
@media (width <= 321px){
    .testimonialslide .testimonialslide_content p:nth-child(1){
        font-size: calc(1rem + .2vw);

    }
    .testimonialslide .testimonialslide_content h3{
        font-size: calc(1rem + 1.9vw);

    }
}